* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.hidden {
    display: none;
}

.Nassi-Shneiderman {
	font-family: "Consolas", monospace;
	font-size: 11pt;
	color: #071c26;
}

.Nassi-Shneiderman .switch-button {
	font-family: initial;
}

.method-signature {
	margin-left: 20pt;
}

.class-declaration div,
.method-signature>div {
	font-size: 12pt !important;
    font-weight: bolder;
	display: inline-block;
	margin: 1pt 1pt;
}

.method-signature>.method-parameters div {
	display: inline-block;
	margin: 0pt 1pt;
}

.method-declaration>.class-declaration>div:last-child,
.method-parameters>div:first-child,
.method-parameters>div:first-child>div:first-child,
.parameter-declaration>div:first-child {
	margin-left: 0 !important;
}

.method-parameters>div:last-child,
.parameter-declaration>div:last-child,
.method-declaration>.class-declaration>.class-name {
	margin-right: 0 !important;
}

.method-parameters,
.method-declaration>.method-signature>.fixed-value-in-statement {
	margin: 0 !important;
}

/*.local-variable-declaration,
.local-const-declaration {
    padding: 5pt 0;
}*/

.parameter-declaration {
	margin-top: 0;
	margin-bottom: 0;
}

.local-variable-declaration>.variable-declaration,
.local-variable-declaration>.initialized-variable-declaration,
.local-variable-declaration>.initialized-variable-declaration>.assignment-statement {
	display: inline-block;
	margin: 1pt 5pt;
}

.local-variable-declaration>.initialized-variable-declaration>.assignment-statement {
	margin-left: 2pt;
	padding: 0;
	background: 0;
	border: 0;
}

.local-variable-declaration>.variable-declaration>.type,
.local-variable-declaration>.variable-declaration>.name,
.local-variable-declaration>.initialized-variable-declaration>.type {
	display: inline-block;
	margin: 0pt 1pt;
}

.local-variable-declaration>.variable-declaration>.type,
.local-variable-declaration>.initialized-variable-declaration>.type {
	font-weight: bold;
}

.statements> :last-child {
    border-bottom: 0;
}

.statements> :first-child {
    border-top: 0;
}

.block-statement,
.assignment-statement,
.return-statement,
.break-statement,
.comment-statement {
    padding: 5px;
    text-align: center;
	border: solid 1px;
}

.assignment-statement {
	padding: 2.6px;
}

.break-statement {
    font-weight: bolder;
}

.conditional-statement {
	border: solid 1px;
}

.conditional-statement .header,
.conditional-statement .body {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.conditional-statement .header {
	border-bottom: solid 1px;
}

.conditional-statement .header .condition {
	display: block;
    text-align: center;
    padding: 8pt;
    padding-left: 15pt;
	padding-right: 15pt;
	margin: 0 auto;
	width: fit-content;
}

.conditional-statement .header .option {
	display: table-cell;
    vertical-align: bottom;
    position: relative;
}

.conditional-statement .header .option .option-block {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 35pt;
    height: 100%;
}

.conditional-statement .header .option.false .option-block {
    right: 0px;
}

.conditional-statement .header .option .option-block>canvas.corner {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0px;
    z-index: 0;
}

.conditional-statement .header .option.false .option-block>canvas.corner {
    right: 0px;
}

.conditional-statement.switch>.header>.option>.option-block>canvas.corner {
    top: 0px;
    transform: scaleX(-1);
}

.conditional-statement .header .option .caption {
    position: absolute;
    bottom: 0px;
    width: 15pt;
    line-height: 15pt;
    text-align: center;
    z-index: 1;
}

.conditional-statement .header .option.false .caption {
    right: 0px;
}

.conditional-statement>.body .then,
.conditional-statement>.body .else {
    display: table-cell;
    position: relative;
    vertical-align: top;
	min-width: 15px;
	/* width: 50%; */
}

.switch>.body .case {
    display: table-cell;
    position: relative;
}

.switch>.body .case .test-value {
    display: block;
    text-align: center;
    background-color: #F0F0F0;
	line-height: 20pt;
	min-height: 30px;
	border-bottom: solid 1px;
}

.switch>.body .case .statements {
	display: block;
}

.conditional-statement>.body .then,
.switch>.body .case .test-value {
    border-right: solid 1px;
}

.switch>.body .case:last-child .statements,
.switch>.body .case:last-child .test-value {
    border-right: 0;
}

.input-statement,
.output-statement {
    display: block;
    position: relative;    
    border: solid 1px;
}

.input-statement .body,
.output-statement .body {
    display: block;
    position: relative;
    text-align: center;
    padding: 5px;
}

.input-statement .symbol,
.output-statement .symbol {
    position: absolute;
    width: 15pt;
    line-height: 15pt;
    vertical-align: middle;
    text-align: center;
    border-right: solid 1px;
    border-bottom: solid 1px;
}

.for-statement {
	display: block;
	border: solid 1px;
}

.for-statement .container {
    display: table;
    width: 100%;
}

.for-statement .controller {
    display: table-cell;
    position: relative;
	vertical-align: middle;
	min-width: 20px;
	height: 25pt;
	border-right: solid 1px;
}

.for-statement .controller .top {
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQYV2NkgIAGKGZghArAKXSBBgwVAEPuAYWs0fxxAAAAAElFTkSuQmCC);
    top: 0px;
    width: 12pt;
    border-right: solid 1px;
    border-bottom: solid 1px;
}

.for-statement .controller .bottom {
    width: 12pt;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQYV2NkgIAGKGZghArAKXSBBgwVAEPuAYWs0fxxAAAAAElFTkSuQmCC);
    border-right: solid 1px;
    border-top: solid 1px;
    position: absolute;
    bottom: 0px;
}

.for-statement .controller .content-block {
    padding-left: 5pt;
    padding-right: 5pt;
}

.for-statement .controller .content {
    text-align: center;
    padding: 5pt;
    padding-left: 10pt;
}

.for-statement .statements {
	vertical-align: middle;
    display: table-cell;
	min-width: 200pt;
}

.for-statement>.container>.controller>.content-block>.content>* {
	margin: 0 1.5pt;
}

.call-statement {
    display: block;
    position: relative;
    text-align: center;
    border: solid 1px;
}

.call-statement .margin {
    display: block;
    position: absolute;
    height: 100%;
    width: 20pt;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAEElEQVQYV2NgYGBoYEABDQAIlAEB8MHMtAAAAABJRU5ErkJggg==);
}

.call-statement .margin.right {
    right: 0px;
    top: 0px; 
}

.call-statement .call {
    position: relative;
    padding: 5px;
    margin-left: 15pt;
    margin-right: 15pt;
    text-align: center;
    border: 0;
}

.while-statement,
.dowhile-statement {
	border-left: solid 1px;
}

.while-statement {
	border-top: solid 1px;
}

.dowhile-statement {
	border-bottom: solid 1px;
}

.while-statement>.condition-block,
.dowhile-statement>.condition-block {
	display: block;
	border-right: solid 1px;
	padding: 5pt;
	margin-left: 20pt;
}

.while-statement>.condition-block {
	border-bottom: solid 1px;
}

.dowhile-statement>.condition-block {
	border-top: solid 1px;
}

.while-statement .condition,
.dowhile-statement .condition {
	display: block;
	margin: 0 auto;
	width: fit-content;
}

.while-statement>.container>.side-while,
.dowhile-statement>.container>.side-dowhile {
	display: table-cell;
    min-width: 20pt;
	border: 0;
	border-right: solid 1px;
}

.while-statement>.container>.side-while {
	border-bottom: solid 1px;
}
.dowhile-statement>.container>.side-dowhile {
	border-top: solid 1px;
}

.while-statement>.container>.statements,
.dowhile-statement>.container>.statements {
	display: table-cell;
    position: relative;
    vertical-align: top;
	margin-left: 20pt;
	width: 100%;	
}

.while-statement>.container>.statements>div,
.dowhile-statement>.container>.statements>div {
	display: block;
	width: 100%;
}

.empty {
	display: block;
	width: 100%;
	height: 0;
	border: 0;
	/*border: 1px dashed #2c637f;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQYV2NkgIAGKGZghArAKXSBBgwVAEPuAYWs0fxxAAAAAElFTkSuQmCC);*/
}


.for-statement .statements,
.conditional-statement>.body>.then,
.conditional-statement>.body>.else,
.while-statement>.container>.statements,
.dowhile-statement>.container>.statements {
	min-height: 20px;
	padding: 1px;
}

.for-statement .statements,
.while-statement>.container>.statements,
.dowhile-statement>.container>.statements {
	background-color: white;
	padding-right: 0;
}

.switch>.body>.case .statements {
	padding: 1px;
	min-height: 20px;
}

.input-for-statement {
	text-align: center;
	font-family: "Consolas", monospace;
	display: inline-block;
	border: 0;
	background: inherit;
}

.input-for-statement:focus,
.input-for-statement:hover {
	text-decoration-line: underline;
 	text-decoration-style: double;
	font-weight: bolder;
	color: #555 !important;
	cursor: text;
	outline: 0;
}

.fixed-value-in-statement {
	display: inline;
	text-align: center;
	font-weight: bold;
}

.arrow {
	font-size: 13.5pt !important;
}

/** -- Exception extensions -- **/

.try-statement,
.catch-statement,
.finally-statement {
    display: inline-table;
    width: 100%;
    border-bottom: solid 1px;
}

.try-statement>.margin.left,
.catch-statement>.margin.left,
.finally-statement>.margin.left {
    display: table-cell;
    border-right: solid 1px;
    text-align: center;
    width: 50pt;
    font-style: italic;
    background-color: #f0f0f0;
}

.throw-statement,
.exception {
    display: block;
    padding: 2pt;
    border-bottom: solid 1px;
}

.throw-statement {
    text-align: center;
}

.exception {
    background-color: #f0f0f0;
}

.exception .variable,
.exception .identifier {
    display: inline-block;
}

.exception .identifier {
    font-style: italic;
    padding-right: 5pt;
}