html {
	overflow-y: hidden;
}

#ortLogo {
	width: 100%;
	max-width: 100px;
}

#nsplusLogo {
	width: 100%;
	max-width: 112px;
}

#trash {
	font-size: 50px;
	display: block;
	position: absolute;
	bottom: 10%;
	right: 25%;
	z-index: 1;
}

.trash-over {
	transform: rotate(15deg) scale(1.2);
}

.invisible {
	display: none !important;
}

.Nassi-Shneiderman {
	overflow-y: auto;
	padding: 8px;
}

.Nassi-Shneiderman>.statements {
	height: 85%;
	min-width: fit-content;
}

/*::-webkit-scrollbar {
    display: none;
}*/

.statements {
	border: none;
}

#footer .message {
	font-family: 'Dancing Script', Times New Roman, serif;
	letter-spacing: 0.5pt;
	font-size: 18px;
}

#footer .professor> i {
	font-size: 16px;
}

#footer .professor> a {
	font-size: 14px;
}

#footer, #header {
	display : flex;
	align-items : center;
	z-index: 3;
}

.switch .test-value {
	position: relative;
}

.switch-button {
	position: absolute;
	left: 3px;
}

.switch-button:hover {
	transform: scale(1.3);
	cursor: pointer;
}

.switch-add-button {
	color: #50b271; /*w3 pale green*/
    top: 3px;
}

.switch-remove-button {
	color: #b25050; /*w3 pale red*/
    bottom: -2px;
}

.fa-xs {
	font-size: .8em;
}
	
#buttonOpenDiagrams {
	transform-origin: 0 50%;
	transform: rotate(-90deg) translate(-50%, 50%);
	position: fixed;
	top: 50%;
	left: 0;
	border-radius: 0 0 20px 20px;
}

#buttonOpenBlocks {
	transform-origin: 0 100%;
	transform: rotate(90deg) translate(-50%, -240%);
	position: fixed;
	top: 50%;
	right: 0;
	border-radius: 0 0 20px 20px;
}

#buttonOpenDiagrams i {
	margin-left: 10px;
}

#buttonOpenBlocks i {
	margin-right: 10px;
}

.panelButton {
	width: 130px;
}

#diagramsContainer {
	width: 15%;
	z-index: 3;
}

#menuContainer {
	width: 22%;
	right: 0;
	overflow-y: auto;
	/* display: none; */
}

#sectionDiagram {
	z-index: -1;
}

.initial-margin-left {
	margin-left: 2%;
}

.initial-margin-right {
	margin-right: 2%;
}

.margin-left {
	margin-left: 15%;
}

.margin-right {
	margin-right: 22%;
}


/* #diagramsContainer>.diagram-item {
	font-size: 14px;
	text-align: left;
}

#diagramsContainer>.diagram-item>p:last-child {
	text-indent: 10%;
} */

#modalToSave {
	display: block;
}
.historial {
	cursor: pointer;
}
#hist-popup {
	position: absolute;
    display: block;
    right: 0;
    bottom: 2.5em;
    padding: .5em;
    padding-bottom: 0;
    font-size: 10pt;
	border: solid 1px #000;
}
#hist-popup.hidden {
	display: none;
}
#hist-popup .row {
	display: block;
	white-space: nowrap;
	margin-bottom: .5em;
}
#hist-popup span {
	display: inline-block;
	white-space: nowrap;
}
#hist-popup .row .autor {
	width: 100%;
	display: block;
}
#hist-popup .row .date {
	width: 50%;
	padding-left: 1em;
}
.disabled {
	opacity: .5;
	cursor: auto;
}
.evalrow {
	background-color: #b25050;
}
