#menuContainer>div {
	font-family: "Consolas", monospace;
	font-size: 11pt;
	color: #071c26;
}

#menuContainer .w3-bar-block .w3-button {
	cursor: copy;
}

#menuContainer .conditional-statement {
	border: solid 1px;
}

#menuContainer .conditional-statement .header {
	border: 0;
	border-bottom: solid 1px;
}

#menuContainer .conditional-statement>.body .then {
	border-width: 0 0.5px 0 0;
	border-style: solid;
}

#menuContainer .conditional-statement>.body .else {
	border-width: 0 0 0 0.5px;
	border-style: solid;
}

#menuContainer .switch>.body .case .statements {
	height: 20px;
	border-right: solid 1px;
}

#menuContainer .switch>.body .case:last-child .statements {
	border-right: 0;
}

#menuContainer .w3-bar-block .w3-button .for-statement {
	font-size: 10pt;
	border: solid 1px;
}

#menuContainer .w3-bar-block .w3-button .for-statement .empty {
	height: 25pt;
}

#menuContainer .w3-bar-block .w3-button .for-statement .controller {
	height: 56px;
}

#menuContainer .w3-bar-block .w3-button .for-statement .statements {
	vertical-align: middle;
    display: table-cell;
	min-width: 20pt;
}