#ortLogoPDF {
	width: 100%;
	max-width: 100px;
	float: left;
}

#nsplusLogoPDF {
	width: 100%;
	max-width: 118px;
	float: right;
}

.PDFHeader * {
	font-family: Verdana,sans-serif !important;
}

#projectPrint {
	display: block;
	width: 100%;
	margin: 0 auto;
	clear: both;
	z-index: 100;
}

#projectPrintDiagrams {
	display: block;
	width: 100%;
}

#projectPrint .Nassi-Shneiderman {
	overflow: hidden;
	width: 100%;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

#projectPrint .Nassi-Shneiderman:first-child {
	margin-top: 15px;
}

#projectPrint .Nassi-Shneiderman:last-child {
	margin-bottom: 0;
}

#projectPrint .Nassi-Shneiderman .statements,
#projectPrint .Nassi-Shneiderman {
	height: auto;
}

.watermark {
	font-size: 14px !important;
	font-family: Verdana,sans-serif !important;
	height: auto;
	width: auto;
	opacity: 0.15;
	position: absolute;
	overflow: hidden;
	top: 1%;
	right: 1%;
	color: black;
	pointer-events: none;
	z-index: 3;
}

.metaAutor {
	text-decoration: none;
	cursor: none;
}