/* statements colors */

.for-statement,
.while-statement,
.dowhile-statement {
	background-color: #ddddff; /*pale purple*/
}

.conditional-statement,
.conditional-statement,
.conditional-statement .body .case .test-value {
	background-color: #ddffff; /*w3 pale blue*/
}

.conditional-statement .body .case .test-value {
	background-color: #87ceeb; /*w3 light blue*/
}

.input-statement {
	background-color: #ffe7e7; /*w3 pale red*/
}

.output-statement {
	background-color: #ddffdd; /*w3 pale green*/
}

.call-statement,
.block-statement,
.assignment-statement,
.return-statement,
.break-statement {
	background-color: #ffffcc; /*w3 pale yellow*/
}

#diagramContainer {
	background: #f2faff;
}

/* .empty {
	background: #f2faff;
} */

/*

.method-declaration {
    background: mistyrose;
}

.local-variable-declaration,
.local-const-declaration {
    background: palegreen;
}

#diagram>.statements {
	background: skyblue;
}

*/
