/* statements colors */

.for-statement,
.while-statement,
.dowhile-statement {
	background-color: #ceb2ff;
}

.conditional-statement,
.conditional-statement,
.conditional-statement .body .case .test-value {
	background-color: #b2e5ff;
}

.conditional-statement .body .case .test-value {
	background-color: #8ed9ff;
}

.input-statement {
	background-color: #ffb2b2;
}

.output-statement {
	background-color: #b2ffcc;
}

.call-statement,
.block-statement,
.break-statement {
	background-color: #ffedb2;
}