* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#diagram * {
	font-family: "Consolas", monospace;
	font-size: 11pt;
	color: #071c26;
}

.method-signature {
	margin-left: 20pt;
}

.class-declaration div,
.method-signature>div {
	font-size: 12pt !important;
    font-weight: bolder;
	display: inline-block;
	margin: 3pt 2pt;
}

.method-signature>.method-parameters div {
	display: inline-block;
	margin: 0pt 2pt;
}

.method-declaration>.class-declaration>div:last-child,
.method-parameters>div:first-child,
.method-parameters>div:first-child>div:first-child,
.parameter-declaration>div:first-child {
	margin-left: 0 !important;
}

.method-parameters>div:last-child,
.parameter-declaration>div:last-child,
.method-declaration>.class-declaration>.class-name {
	margin-right: 0 !important;
}

.method-parameters,
.method-declaration>.method-signature>.fixed-value-in-statement {
	margin: 0 !important;
}

/*.local-variable-declaration,
.local-const-declaration {
    padding: 5pt 0;
}*/

.parameter-declaration {
	margin-top: 0;
	margin-bottom: 0;
}

.local-variable-declaration>.variable-declaration,
.local-variable-declaration>.initialized-variable-declaration,
.local-variable-declaration>.initialized-variable-declaration>.assignment-statement {
	display: inline-block;
	margin: 1pt 5pt;
}

.local-variable-declaration>.initialized-variable-declaration>.assignment-statement {
	margin-left: 2pt;
	padding: 0;
	background: none;
	border: none;
}

.local-variable-declaration>.variable-declaration>.type,
.local-variable-declaration>.variable-declaration>.name,
.local-variable-declaration>.initialized-variable-declaration>.type {
	margin: 0pt 2pt;
}

.local-variable-declaration>.variable-declaration>.type,
.local-variable-declaration>.initialized-variable-declaration>.type {
	font-weight: bold;
}

/*#diagram>.statements>* {
    border: solid 1px;
}*/

.statements> :last-child {
    border-bottom: none;
}

.statements> :first-child {
    border-top: none;
}

.block-statement,
.assignment-statement,
.return-statement,
.break-statement {
    padding: 5pt;
    text-align: center;
    border: solid 1px;
}

.break-statement {
    font-weight: bolder;
}

.conditional-statement {
	border: solid 1px;
}

.conditional-statement .header,
.conditional-statement .body {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.conditional-statement .header {
	border-bottom: solid 1px;
}

.conditional-statement .header .condition {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 8pt;
    padding-left: 15pt;
    padding-right: 15pt;
}

.conditional-statement .header .option {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}

.conditional-statement .header .option .option-block {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 35pt;
    height: 100%;
}

.conditional-statement .header .option.false .option-block {
    right: 0px;
}

.conditional-statement .header .option .option-block>canvas.corner {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0px;
    z-index: 0;
}

.conditional-statement .header .option.false .option-block>canvas.corner {
    right: 0px;
}

.conditional-statement.switch>.header>.option>.option-block>canvas.corner {
    top: 0px;
    transform: scaleX(-1);
}

.conditional-statement .header .option .caption {
    position: absolute;
    bottom: 0px;
    width: 15pt;
    line-height: 15pt;
    text-align: center;
    z-index: 1;
}

.conditional-statement .header .option.false .caption {
    right: 0px;
}

.conditional-statement>.body .then,
.conditional-statement>.body .else {
    display: table-cell;
    position: relative;
    vertical-align: top;
    min-width: 30pt;
}

.conditional-statement>.body>.then {
	border-right: solid 0.5px;
}

.conditional-statement>.body>.else {
	border-left: solid 0.5px;
}

.conditional-statement>.body>.case>.statements>div,
.conditional-statement>.body>.then>div,
.conditional-statement>.body>.else>div {
	border: none;
}

.conditional-statement>.body .case {
    display: table-cell;
    border-right: solid 1px;
    position: relative;
}

.conditional-statement>.body .then:last-child,
.conditional-statement>.body .else:last-child,
.conditional-statement>.body .case:last-child {
    border-right: none;
}

.conditional-statement .body .case .test-value {
    display: block;
    text-align: center;
    background-color: #F0F0F0;
    border-bottom: solid 1px;
    line-height: 20pt;
}

.conditional-statement .body .case:last-child .test-value {
    border-right: none;
}

.conditional-statement .body .case .statements {
	display: block;
}

.input-statement,
.output-statement {
    display: block;
    position: relative;    
    border: solid 1px;
}

.input-statement .body,
.output-statement .body {
    display: block;
    position: relative;
    text-align: center;
    padding: 5pt;
}

.input-statement .symbol,
.output-statement .symbol {
    position: absolute;
    width: 15pt;
    line-height: 15pt;
    vertical-align: middle;
    text-align: center;
    border-right: solid 1px;
    border-bottom: solid 1px;
}

.for-statement {
	display: block;
	border: solid 1px;
}

.for-statement .container {
    display: table;
    width: 100%;
}

.for-statement .controller {
    display: table-cell;
    border-right: solid 1px;
    position: relative;
	vertical-align: middle;
	min-width: 20px;
	max-width: 100px;
	height: 25pt;
}

.for-statement .controller .top {
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQYV2NkgIAGKGZghArAKXSBBgwVAEPuAYWs0fxxAAAAAElFTkSuQmCC);
    top: 0px;
    width: 12pt;
    border-right: solid 1px;
    border-bottom: solid 1px;
}

.for-statement .controller .bottom {
    width: 12pt;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQYV2NkgIAGKGZghArAKXSBBgwVAEPuAYWs0fxxAAAAAElFTkSuQmCC);
    border-right: solid 1px;
    border-top: solid 1px;
    position: absolute;
    bottom: 0px;
}

.for-statement .controller .content-block {
    padding-left: 5pt;
    padding-right: 5pt;
}

.for-statement .controller .content {
    text-align: center;
    padding: 5pt;
    padding-left: 10pt;
}

.for-statement .statements {
	vertical-align: middle;
    display: table-cell;
	min-width: 150pt;
}

.for-statement .statements>div {
	border: none;
    border-bottom: solid 1px;
}

.for-statement .statements>div:last-child {
	border: none;
}

.for-statement>.container>.controller>.content-block>.content>* {
	margin: 0 1.5pt;
}

.call-statement {
    display: block;
    position: relative;
    text-align: center;
    border: solid 1px;
}

.call-statement .margin {
    display: block;
    position: absolute;
    height: 100%;
    width: 20pt;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAEElEQVQYV2NgYGBoYEABDQAIlAEB8MHMtAAAAABJRU5ErkJggg==);
}

.call-statement .margin.right {
    right: 0px;
    top: 0px; 
}

.call-statement .call {
    position: relative;
    padding: 5pt;
    margin-left: 15pt;
    margin-right: 15pt;
    text-align: center;
    border: none;
}

.while-statement .condition,
.dowhile-statement .condition {
    text-align: center;
	padding: 5pt;
	margin-left: 20pt;
}

.while-statement,
.dowhile-statement {
	border: solid 1px;
}

.while-statement>.container>.side-while,
.dowhile-statement>.container>.side-dowhile {
	display: table-cell;
    min-width: 20pt;
	border: none;
	border-right: solid 1px;
}

.while-statement>.container>.side-while {
	border-bottom: solid 1px;
}
.dowhile-statement>.container>.side-dowhile {
	border-top: solid 1px;
}

.while-statement>.container>.statements,
.dowhile-statement>.container>.statements {
	display: table-cell;
    position: relative;
    vertical-align: top;
	margin-left: 20pt;
	width: 100%;	
}

.while-statement>.container>.statements>div,
.dowhile-statement>.container>.statements>div {
	display: block;
}

.while-statement>.container>.statements {
    border-top: solid 1px;
}

.dowhile-statement>.container>.statements {
    border-bottom: solid 1px;
}

.while-statement>.container>.statements>div,
.dowhile-statement>.container>.statements>div {
    border-right: none;
}

.empty {
    /*position: absolute;*/
	display: block;
	width: 100%;
	height: 1pt;
    top: 0px;
	bottom: 0px;
	border: none;
	/*border: 1px dashed #2c637f;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQYV2NkgIAGKGZghArAKXSBBgwVAEPuAYWs0fxxAAAAAElFTkSuQmCC);*/
}

.empty-hover {
	height: 20px;
	-webkit-box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.16);
	-moz-box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.16);
	box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.16);
}

.for-statement .statements,
.conditional-statement>.body>.then,
.conditional-statement>.body>.else,
.conditional-statement .body .case .statements,
.while-statement>.container>.statements,
.dowhile-statement>.container>.statements {
	height: 20px;
	background: white;
}

[contenteditable=true] {
	text-align: center;
	font-family: "Consolas";
	display: inline-block;
	border: none;
}

[contenteditable=true]:focus,
[contenteditable=true]:hover {
	text-decoration: underline;
	font-weight: bolder;
	color: #2c637f !important;
	cursor: text;
	outline: none;
}

.while-statement>.condition,
.dowhile-statement>.condition {
	display: block;
}

.fixed-value-in-statement {
	display: inline;
	text-align: center;
	font-weight: bold;
}

.arrow {
	font-size: 13.5pt !important;
}

/** -- Exception extensions -- **/

.try-statement,
.catch-statement,
.finally-statement {
    display: inline-table;
    width: 100%;
    border-bottom: solid 1px;
}

.try-statement>.margin.left,
.catch-statement>.margin.left,
.finally-statement>.margin.left {
    display: table-cell;
    border-right: solid 1px;
    text-align: center;
    width: 50pt;
    font-style: italic;
    background-color: #f0f0f0;
}

.throw-statement,
.exception {
    display: block;
    padding: 2pt;
    border-bottom: solid 1px;
}

.throw-statement {
    text-align: center;
}

.exception {
    background-color: #f0f0f0;
}

.exception .variable,
.exception .identifier {
    display: inline-block;
}

.exception .identifier {
    font-style: italic;
    padding-right: 5pt;
}