.logo {
	width: 100%;
	max-width: 100px;
}

#sectionDiagram {
	margin-right: 22%;
	z-index: -1;
}

#trash {
	font-size: 50px;
	display: block;
	position: absolute;
	bottom: 10%;
	right: 25%;
	z-index: 1;
}

.trash-over {
	transform: rotate(15deg) scale(1.2);
}

.invisible {
	display: none !important;
}

#diagram>.statements {
	height: 85%;
	border: none;
	overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.statements {
	border: none;
}

#footer .message {
	font-family: 'Dancing Script', Times New Roman, serif;
	letter-spacing: 0.5pt;
	font-size: 20px;
}

#footer .professor>i {
	font-size: 20px;
}

#footer {
	display : flex;
	align-items : center;
}